{% load static %}
<nav>
    <div class="top-header">
        <div class="logo">
            <a href="{% url 'sklep:base' %}">
                <img src="{% static 'sklep/base/logo.png'  %}" alt="LOGO" />
            </a>
            </div>
        <div class="login-register-buttons">
            {% if user.is_authenticated %}
                <div class="login">
                    <p>Witaj <a class='user-buttons' href="{% url 'sklep:user_view' %}">{{ user.first_name }}</a></p>
                </div>
                <div class="pausebetween">
                    <p>|</p>
                </div>
                <div class="register">
                    <p><a class ='user-buttons' href="{% url 'sklep:logout_user' %}">Log Out</a></p>
                </div>
            {% else %}
                <div class="login">
                    <button id="login">
                        <a class="user-buttons" href="{% url 'sklep:login_user' %}">LOGOWANIE</a>
                    </button>
                </div>
                <div class="pausebetween">
                    <p>|</p>
                </div>
                <div class="register">
                    <button id="register">
                        <a class ='user-buttons' href="{% url 'sklep:register' %}">REJESTRACJA</a>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="bottom-header">
        <div class="bottom-header-left-side">

            <div class="category-button-box hide" id="category-btn-box">
                <button id="show-hide-categories">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <p>Kategorie</p>
            </div>
            <div class="categories" id="category-list">
                <div class="category-element">
                    <p class="main-category">
                        <a href= "{%url 'sklep:filter_view' 'Damskie'%}" >damskie</a>
                    </p>
                </div>
                <div class="category-element">
                    <p class="main-category">
                        <a href= "{%url 'sklep:filter_view' 'Męskie'%}" >męskie</a>
                    </p>
                </div>
                <div class="category-element">
                    <p class="main-category">
                        <a href= "{%url 'sklep:filter_view' 'Dziecięce'%}" >dziecięce</a>
                    </p>
                </div>

            </div>
        </div>
        <div class="bottom-header-right-side">

            <form action="{% url 'sklep:searchProduct' %}"  method="get" class="search-box">
                <input type="text" class="search-control" name = "query" placeholder="Szukaj..." id="search-input">
                <button class="search-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="shopping-basket">
                <button id="basket" >
                    <a href="{% url 'sklep:shopping_cart' %}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                </button>
            </div>
        </div>
    </div>
</nav>