{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="type/css" href="{% static 'sklep/base/base.css' %}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"  rel="stylesheet"  type='text/css'>
    <title>Zamowienia</title>
</head>
<body>
    <div class="header">
        <div class="top-header">
            <div class="logo">logo</div>
                {% block registration %}
                    <div class="login">
                        <p>Witaj {{ user.username }}</p>
                    </div>
                    <div class="pausebetween">
                        <p>|</p>
                    </div>
                    <div class="register">
                        <p><a class ='user-buttons' href="{% url 'sklep:logout_user' %}">Log Out</a></p>
                        </div>
                {%endblock%}
            </div>
        </div>
    </div>
    <p>{{user.username}}</p>
    <p>{{data_ur}}</p>
    <p>{{telefon}}</p>
    <p>zapisane adresy: {{adres_size}}</p>
    {%for adres in adresy%}
    <p>{{adres.miejscowosc}} {{adres.ulica}} {{adres.numer_domu}} {{adres.numer_lokalu}} {{adres.kod_pocztowy}}</p>
    {%endfor%}
    <p><a class ='user-buttons' href="{% url 'sklep:orders_view' %}">Zamówienia</a></p>
    <p><a class ='user-buttons' href="{% url 'sklep:user_modify' %}">modyfikuj dane</a></p>
</body>