{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="type/css" href="{% static 'sklep/base/base.css' %}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"  rel="stylesheet"  type='text/css'>
    <title>Zamowienia</title>
</head>
<body>
    <div class="header">
        <div class="top-header">
            <div class="logo">logo</div>
                {% block registration %}
                    <div >
                        <p>Może najpierw się zaloguj ;)</p>
                    </div>
                    <div class="register">
                        <p><a class ='user-buttons' href="{% url 'sklep:login_user' %}">Log in</a></p>
                        <p><a class ='user-buttons' href="{% url 'sklep:register' %}">register</a></p>
                    </div>
                {%endblock%}
            </div>
        </div>
    </div>
</body>
