{% extends 'sklep/base/base.html' %}

{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    
    <style>
h3 {
    text-align: center;
    color: black;
    line-height: 100px;
    font-size: x-large;
    font-size: 48px;
    margin-bottom: 51px;
}

.btn
{
    background-color: black;
    border: 15px;
    border-color: black;
    color: whitesmoke;
    padding: 16px 140px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    margin: 67px 25px;  
}
.wpisywanie1
{
    border-color: whitesmoke;
    border-color: black;
    font-size: 32px;
    margin: 15px 23px;

}
.wpisywanie2
{
    border-color: whitesmoke;
    border-color: black;
    font-size: 32px;
    margin: 15px 124px;

}
.wpisywanie3
{
    border-color: whitesmoke;
    border-color: black;
    font-size: 32px;
    margin: 15px 1px;

}
.wpisywanie4
{
    border-color: whitesmoke;
    border-color: black;
    font-size: 32px;
    margin: 15px 14px;

}
.wpisywanie5
{
    border-color: whitesmoke;
    border-color: black;
    font-size: 32px;
    margin: 15px 7px;

}

strong
{
    color: black ;
    font-size: 32px;
}
    </style>

    <h3>Dodaj adres</h3>
    <p><label for="id_miejscowosc"><strong>Miejscowość:</strong></label>
        <input id="id_miejscowosc" class="wpisywanie1" type="text" name="miejscowosc" maxlength="100" required></p> 
    <p><label for="id_ulica"><strong>Ulica:</strong></label>
        <input id="id_ulica" class="wpisywanie2" type="text" name="ulica" maxlength="100" required></p> 
    <p><label for="id_kod_pocztowy"><strong>Kod pocztowy:</strong></label>
        <input id="id_kod_pocztowy" class="wpisywanie3" type="text" name="kod_pocztowy" maxlength="100" required></p>
    <p><label for="id_numer_domu"><strong>Numer domu:</strong></label>
        <input id="id_numer_domu" class="wpisywanie4" type="text" name="numer_domu" maxlength="100" required></p>
    <p><label for="id_numer_lokalu"><strong>Numer lokalu:</strong></label>
        <input id="id_numer_lokalu" class="wpisywanie5" type="text" name="numer_lokalu" maxlength="100" required></p>         
        <hr>
    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Zapisz">
</form>
{% endblock %}
