{% extends 'sklep/base/base.html' %}
{% load static %}

{% block content %}
    <div class="prof-uz">
        <p>Profil użytkownika</p>
    </div>

    <div class="prof-uz-menu">
        <ul class="horizontal-list">
            <li><a class ='user-buttons' href="{% url 'sklep:orders_view' %}">histore zamówień</a></li>
            <li><a class ='user-buttons' href="{% url 'sklep:user_dat_mod' %}">modyfikuj dane</a></li>
            <li><a class ='user-buttons' href="{% url 'sklep:user_profile' %}">zmiana hasła</a></li>
            <li><a class ='user-buttons' href="{% url 'sklep:add_adres' %}">dodaj adres</a></li>
        </ul>
    </div>

    <div class="prof-uz-dane">
        <ul class="user-dat">
            <li>{{user.username}}</li>
            <li class="linia">Imie {{user.first_name}}</li>
            <li class="linia"> Nazwisko {{user.last_name}}</li>

            <li>data urodzenia: {{data_ur}}</li>
            <li>nr. telefonu: {{telefon}}</li>
        </ul>
    </div>

    <div class="prof-uz-menu">
        <p>zapisane adresy: {{adres_size}}</p>
        <table class="user-adres">
            <tr>
                <td> miejscowość</td><td>ulica</td><td>numer domu</td><td>numer lokalu</td><td>kod pocztowy</td>
            </tr>
            {%for adres in adresy%}
                <tr>
                
                   <td><a class ='user-buttons' href='{% url "sklep:adres_mod" adres.id %}'> {{adres.miejscowosc}} </a></td>
                    <td>{{adres.ulica}}</td>
                    <td>{{adres.numer_domu}} </td>
                    <td>
                        {% if adres.numer_lokalu != None %}
                            {{adres.numer_lokalu}}
                        {% endif %}
                    </td>
                    <td>{{adres.kod_pocztowy}}</td>
                <tr>
            {%endfor%}
        <table>
        
    </div>

{% endblock %}