{% extends 'sklep/base/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" text="type/css" href="{% static 'sklep/user/credit_card.css' %}">
{% endblock %}

{% block content %}

<div class="container-card">
    <form method="POST" action="">
        {% csrf_token %}
        <h3>Dodaj kartę płatniczą</h3>
        <p><label for="id_numer"><strong>Numer:</strong></label>
            <input id="id_numer" class="wpisywanie1" type="text" name="numer" maxlength="100" required></p> 
        <p><label for="id_cvc"><strong>CVC:</strong></label>
            <input id="id_cvc" class="wpisywanie2" type="text" name="cvc" maxlength="100" required></p> 
        <p><label for="id_miesiac"><strong>Miesiąc:</strong></label>
            <input id="id_miesiac" class="wpisywanie3" type="text" name="miesiac" maxlength="100" required></p>
        <p><label for="id_rok"><strong>Rok:</strong></label>
            <input id="id_rok" class="wpisywanie4" type="text" name="rok" maxlength="100" required></p>        
            <hr>
        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Zapisz">
    </form>
</div>

{% endblock %}