{% extends 'sklep/base/base.html' %}
{% load static %}
{% block content %}
{% if aktualne_zamowienie.czy_zamowione %}
    Brak produktów w koszyku
{% else %}
{{ klient.user.first_name }}<br>
{{ klient.user.last_name }}<br>
{{ klient.user.email }}<br>
{{ klient.telefon }}<br>
<br><br>

{% for p_z in aktualne_zamowienie.get_pozycje_zamowienia %}
    <br>{{ p_z.produkt.marka }} {{ p_z.produkt.model }}<br>
    ilosc: {{ p_z.ilosc }}<br>
    rozmiar: {{ p_z.rozmiar }}
{% endfor %}
<br>{{ aktualne_zamowienie.get_kwota_zamowienia }}<br><br>
<form method="POST" action="{% url 'sklep:checkout' %}">
{% csrf_token %}
<select name="adres" id="adres-selection">
{% for adres in lista_adresow %}
<option value="{{ adres.id }}">{{ adres.miejscowosc }}, {{ adres.ulica }} {{ adres.numer_domu }} 
   {% if adres.numer_lokalu %}, {{ adres.numer_lokalu }} {% endif %}, {{ adres.kod_pocztowy }}</option>
{% endfor %}
<option class="adres-item" value="new-adress">
    Dodaj adres
</option>
</select>
<br>
Wybierz rodzaj wysyłki<br>
<select id="shipping-selection" name="wysylka">
    {% for wysylka in rodzaje_wysylek %}
    <option data-shipping="{{ wysylka.id }}" class="shipping-item" value="{{ wysylka.id }}">
        {{ wysylka.nazwa }}, Cena: {{ wysylka.cena }}
    </option>
    
    {% endfor %}
</select>

<div id="new-adress" style="display:none"><br>
    Miejscowosc <input type="text" name="miejscowosc"/><br>
    ulica<input type="text" name="ulica"/><br>
    numer domu <input type="text" name="numer_domu"/><br>
    numer lokalu <input type="text" name="numer_lokalu"/><br>
    kod pocztowy <input type="text" name="kod_pocztowy"/><br>
</div>
<button type="submit">
    Przejdz dalej
</button>
</form>
<br><br>
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'sklep/order/address_selection.js' %}"></script>
{% endblock %}