{% extends 'sklep/base/base.html' %}
{% load static %}
{% block content %}
{% if aktualne_zamowienie.czy_zamowione %}
    Brak zamówien w koszyku
{% else %}
{{ klient.user.first_name }}<br>
{{ klient.user.last_name }}<br>
{{ klient.user.email }}<br>
{{ klient.telefon }}<br>
{% for p_z in aktualne_zamowienie.get_pozycje_zamowienia %}
    {{ p_z.produkt.nazwa }}<br>
    ilosc: {{ p_z.ilosc }}<br>
{% endfor %}
<br>
suma za produkty
{{ aktualne_zamowienie.get_kwota_zamowienia }}
<br>
oplata za wysylke: {{ aktualne_zamowienie.rodzaj_wysylki.cena }}
<br>
suma: {{ full_kwota }}

{{ aktualne_zamowienie.adres.miejscowosc }}
{{ aktualne_zamowienie.adres.ulica }}
{{ aktualne_zamowienie.adres.nr_domu }}

<br>
Dostawa: {{ aktualne_zamowienie.rodzaj_wysylki.nazwa }}
<br>
Wybierz forme platnosci
<form method="POST" action="{% url 'sklep:order_summary'  %}" >
    {% csrf_token %}
<select name="rodzaj_platnosci" id="rodzaj_platnosci">
    {% for r_p in rodzaje_platnosci %}
    <option value="{{ r_p.id }}">
        {{ r_p.nazwa }}
    </option>
    {% endfor %}
</select>
<br>
<div id="platnosc">

    <select name="karta_platnicza" id="karty_platnicze" style="display:none">
        {% for k_p in karty_platnicze %}
        <option value="{{ k_p.id }}">
            {{ k_p.numer }}
        </option>
        {% endfor %}
    </select>
    <input type='text' name='blik-number' placeholder='Podaj kod BLIK' id="blikInput" />
</div>

<button type="submit">
    Zamawiam i place
</button>
</form>
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'sklep/order/checkout.js' %}"></script>
{% endblock %}