.container-nh{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 70rem;
    margin: auto;
}

.nh-align{
    position: relative;
    top: 2rem;
    left: 2.5rem;
    
    background: white;
    font-size: 20px;
    line-height: 2;
    width: 25rem;
    height: 19rem;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
}

.nh-name{
    font-size: 2rem;
    text-align: center;
}

.nh-input input[type="password"]::placeholder {  
                  
    padding-left: 20px; 
} 
input {
    background-image: none;
    border-right: 1px solid rgba(0, 0, 0, 0.375);
    color: inherit;
    font: inherit;
    bottom: 20px;
    margin: 4px;
    outline: 0;
    padding: 3px 3px;
    transition: background-color 0.3s;
    width: 100%;
    border-radius: 4px;
  }

  textarea {
    background-image: none;
    border-right: 1px solid rgba(0, 0, 0, 0.375);
    color: inherit;
    font: inherit;
    margin: 4px;
    outline: 0;
    padding: 3px 3px;
    transition: background-color 0.3s;
    width: 100%;
    border-radius: 4px;
    resize: none;
}

.bottom input[type="submit"] {
    position: relative;
    left: 45%;
    background-color: black;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2;
    font-size: 20px;
    line-height: 2;
    
    width: 9%;
    height: 2,5rem;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
  }

  input[type="submit"] {
    cursor: pointer;
  }

  .bottom, .nh-input{
    position: relative;
    top: 0.5rem;
    color:black;
    margin: 1rem 0.5rem 2rem 0.5rem;
  }


  .nh-input input[type="password"]{
    width: 100%;
  }

  .nh-input input[type="password"]:focus,
  .nh-input input[type="password"]:hover{
    background-color: rgba(49, 49, 49, 0.142);
  }



  .bottom input[type="submit"]:focus,
  .bottom input[type="submit"]:hover {
    background-color: #2b2b2b;
  }
